/*===========================================================================*/
/*  BOOTSTRAP OVERRIDES                                                      */
/*===========================================================================*/
body {
	background-color: #4d439b;
	font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Give You Glory', cursive;
}

a {  }

.section-title {
	margin-bottom: 25px;
}

.text-lighter {
	opacity: 0.5;
}

.text-purple {
	color: #4d439b;
}

.section {
	padding: 25px 0;
}

.spacer {
	margin: 50px 0;
}

.half-rule {
	position: absolute;
	width: 50%;
	border-width: 3px;
}

.btn-light, .btn-purple {
	background-color: transparent;
	border: 2px solid;
	border-radius: 0px;
	padding: 5px 0;
	width: 100%;
	font-size: 14px;
	text-align: center;
}

.btn-light:hover, .btn-light:active, .btn-light:focus,
.btn-purple:hover, .btn-purple:active, .btn-purple:focus {
	text-decoration: none;
}

.btn-light {
	border-color: #ffffff;
	color: #ffffff;
}

.btn-purple {
	border-color: #4d439b;
	color: #4d439b;
}

.btn-lg {
	padding: 20px 0;
}

/*===========================================================================*/
/*  HOVER EFFECTS				                                             */
/*===========================================================================*/
.hvr-sweep {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.hvr-sweep:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-bg-pink:before,
.hvr-bg-purple:before {
	background: #ffffff;
}

.hvr-bg-white:before {
	background: #4d439b;
}

.hvr-bg-purple:hover, .hvr-bg-purple:focus, .hvr-bg-purple:active {
	color: #4d439b;
}

.hvr-bg-pink:hover, .hvr-bg-pink:focus, .hvr-bg-pink:active {
	color: #f185af;
}

.hvr-bg-white:hover, .hvr-bg-white:focus, .hvr-bg-white:active {
	color: #ffffff;
}

.hvr-sweep:hover:before, .hvr-sweep:focus:before, .hvr-sweep:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.hvr-underline,
.hvr-underline:hover,
.hvr-underline:active,
.hvr-underline:visited {
	position: relative;
	color: #ffffff;
	text-decoration: none;
}

.hvr-underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.hvr-underline:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*===========================================================================*/
/*  HEADER				                                                     */
/*===========================================================================*/
#header {
	position: relative;
	z-index: 1;
	background-image: url("/images/header-bg.png");
	background-size: 65px;
	background-repeat: repeat-x;
	background-position: left top;
	min-height: 202px;
}

#header-logo {
	position: absolute;
	width: 180px;
	margin-left: -90px;
	top: 5px;
	left: 50%;
}

/*===========================================================================*/
/*  NAVIGATION				                                                 */
/*===========================================================================*/
#navmain {
	position: relative;
	z-index: 0;
	background-color: #4d439b;
	height: 50px;
	padding: 15px 0px;
	text-align: center;
}

.navlink {
	margin-left: -3px;
	padding: 25px 15px 16px 15px;
	color: #eeeeee;
	transition: all 200ms;
}

.navlink:hover,
.navlink:active,
.navlink:focus {
	color: #eeeeee;
	background-color: #3ed2cd;
	text-decoration: none;
	transition: all 200ms;
}

.navlink-active {
	background-color: #3ed2cd;
}

/*===========================================================================*/
/*  SLIDER				                                                     */
/*===========================================================================*/
#slider {  }

/*===========================================================================*/
/*  STORY				                                                     */
/*===========================================================================*/
#story {
	background-color: #4d439b;
	color: #eeeeee;
}

#story-image {
	background-image: url("/images/yarn.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	min-height: 300px;
	margin-top: 25px;
	margin-bottom: -25px;
} @media (min-width: 768px) {
	#story-image {
		min-height: 460px;
	}
} @media (min-width: 992px) {
	#story-image {
		margin-top: -25px;
	}
}

/*===========================================================================*/
/*  PROJECTS				                                                 */
/*===========================================================================*/
#projects {
	background-color: #ffffff;
	padding: 25px 15px;
}

.project-card {
	background-color: #4d439b;
	margin-bottom: 30px;
	padding: 10px;
	color: #ffffff;
	text-align: left;
}

.project-img {
	margin: -10px;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	height: 400px;
}

#project-ft1 {
	background-image: url("/images/fox.jpg");
}

#project-ft2 {
	background-image: url("/images/sleeve.jpg");
	background-position: center;
}

#project-ft3 {
	background-image: url("/images/giraffe.jpg");
}

#projects-action {
	margin: 0px;
}

/*===========================================================================*/
/*  NEWEST ADDITION				                                             */
/*===========================================================================*/
#new {
	background-color: #f185af;
	color: #eeeeee;
}

#new-image {
	background-image: url("/images/cow.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	min-height: 350px;
	margin-top: -25px;
	margin-bottom: 25px;
} @media (min-width: 768px) {
	#new-image {
		min-height: 600px;
	}
} @media (min-width: 992px) {
	#new-image {
		margin-bottom: -25px;
	}
}

/*===========================================================================*/
/*  FOOTER 						                                             */
/*===========================================================================*/
#footer {
	background: #3ec2cd;
	background: -webkit-linear-gradient(#9fdae5, #8678b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9fdae5, #8678b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9fdae5, #8678b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9fdae5, #8678b8); /* Standard syntax */
    color: #eeeeee;
}

.social,
.social:visited {
	padding: 0 15px;
	font-size: 42px;
	color: #ffffff;
	transition: 200ms all;
}

.social:hover,
.social:active {
	color: #9fdae5;
	transition: 200ms all;
}

/*===========================================================================*/
/*  ANCHOR 						                                             */
/*===========================================================================*/
#anchor {
	background-color: #ffffff;
}

#anchor-icon {
	width: 50px;
	padding: 25px 0;
} @media (max-width: 768px) {
	#anchor-icon {
		width: 30px;
	}
}