/*===========================================================================*/
/*  BOOTSTRAP OVERRIDES                                                      */
/*===========================================================================*/
body {
	background-color: #ffffff;
	font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Give You Glory', cursive;
}

a {  }

.section-title {
	margin: 25px 0;
}

.text-light {
	color: #eeeeee;
}

.text-purple {
	color: #4d439b;
}

.spacer {
	margin: 50px 0;
}

.half-rule {
	position: absolute;
	width: 50%;
	border-width: 3px;
}

/*===========================================================================*/
/*  HEADER				                                                     */
/*===========================================================================*/
#header {
	background-color: #4d439b;
	background-image: url("/images/header-bg.png");
	background-size: 65px;
	background-repeat: repeat-x;
	background-position: left top;
	min-height: 250px;
}

#header-logo {
	position: absolute;
	width: 180px;
	margin-left: -90px;
	top: 5px;
	left: 50%;
}

/*===========================================================================*/
/*  SLIDER				                                                     */
/*===========================================================================*/
#slider {  }

/*===========================================================================*/
/*  STORY				                                                     */
/*===========================================================================*/
#story {
	background-color: #4d439b;
	min-height: 500px;
}

/*===========================================================================*/
/*  PROJECTS				                                                 */
/*===========================================================================*/
#projects {
	background-color: #ffffff;
	min-height: 500px;
}

/*===========================================================================*/
/*  NEWEST ADDITION				                                             */
/*===========================================================================*/
#new {
	background-color: #f185af;
	min-height: 500px;
}

/*===========================================================================*/
/*  FOOTER 						                                             */
/*===========================================================================*/
#footer {
	background: #3ec2cd;
	background: -webkit-linear-gradient(#9fdae5, #8678b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9fdae5, #8678b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9fdae5, #8678b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9fdae5, #8678b8); /* Standard syntax */
	min-height: 500px;
}

/*===========================================================================*/
/*  ANCHOR 						                                             */
/*===========================================================================*/
#anchor {
	background-color: #ffffff;
}

#anchor-icon {
	width: 50px;
	padding: 25px 0;
} @media (max-width: 768px) {
	#anchor-icon {
		width: 30px;
	}
}